body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

fieldset {
    border: 2px solid #3498db;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

legend {
    font-weight: bold;
    color: #2980b9;
    background-color: #fff;
    padding: 0 10px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #27ae60;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2ecc71;
}

.resume-preview {
    border-top: 2px solid #3498db;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px ;
    /* //making the resume editable */
    outline: none;
}

.resume-preview h2 {
    color: #333;
    background-color: #ecf0f1;
}

.resume-preview .section {
    margin-bottom: 20px;
}

.resume-preview .section h3 {
    margin-bottom: 5px;
    color: #2980b9;
}
 